/********************* SCROLL BARS *******************************/

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
background-color: rgb(70, 70, 70);

}
::-webkit-scrollbar-thumb{
border-radius: 35px;
background-color: rgb(0, 130, 153);
}


/************************** MENU ***********************************/

#header {
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.centerMenu {
    background-color: rgba(211, 23, 23, 0);
    width: max-content;
    padding: 10px;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.centerMenu li{
    text-decoration: none;
}

.centerMenu li a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s;
}

.centerMenu li a:hover {
    color: #5ba8ff;
    scale: 1.1;
    text-decoration: 1px underline #00ccff;
    
}

#pesquisar {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #00c3ff;
}

h2, #titulo {
    margin-top: 50px;
        color: #fff;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
    }
    
    p{
        color: #fff;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
    }    
    
    
    /********************** TELA DO FILME **************************/
    #divFilme {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 10px;
    
    }
    
    .capaFilme {
        border: 2px solid white;
        margin: 5px 10px;
        min-width: 35px;
        height: 40vh;
        transition: 0.5s;
        border-radius: 3px;
    }
    
    .capaFilme:hover {
        scale: 1.1;
        filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    
    }
    
    /********************** TELA DO FILME **************************/
    #divTelaFilme {
        margin: 30px 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }
    
    #iframeFilme {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 85vw;
        height: 92vh;
        border: 1px solid white;
    }
    
    