/********************* SCROLL BARS *******************************/

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
background-color: rgb(70, 70, 70);

}
::-webkit-scrollbar-thumb{
border-radius: 35px;
background-color: rgb(0, 130, 153);
}


/************************** MENU ***********************************/

#header {
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.centerMenu {
    background-color: rgba(211, 23, 23, 0);
    width: max-content;
    padding: 10px;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.centerMenu li{
    text-decoration: none;
}

.centerMenu li a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

.centerMenu li a:hover {
    color: #ffe1bb;
    text-decoration: 2px underline #ffae00;
    
}

#pesquisar {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #00c3ff;
}

h2, #titulo {
    margin-top: 50px;
        color: #fff;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
    }
    
    p{
        color: #fff;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
    }    
    
    
    /********************** TELA DO FILME **************************/
    #iframe{
        width: 90vw;
        height: 80vh;
        border: 1px solid white;
    }
    
    #divTela{
        display: flex;
        align-items: center;
        justify-content: space-around;
    
    
    }