@import "./reset.css";

body {

    background-image: linear-gradient(180deg, #000000 0%, #00133b 50%, #000000 100%);
    padding-bottom: 100px;
}

#divFilme {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


.capaFilme {
    border: 2px solid white;
    margin: 0 10px;
    width: 15vw;
    height: 40vh;

}

/********************** TELA DO FILME **************************/
#iframeFilme {

    width: 90vw;
    height: 80vh;
    border: 1px solid white;
}

#divTelaFilme {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}