@import "./reset.css";

body {
 
    background-image: linear-gradient(180deg, #000000 0%, #00133b 50%, #000000 100%);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 100px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
background-color: rgb(70, 70, 70);

}
::-webkit-scrollbar-thumb{
border-radius: 35px;
background-color: rgb(0, 130, 153);
}


#header {
    height: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.centerMenu {
    background-color: rgba(211, 23, 23, 0);
    width: max-content;
    padding: 10px;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.centerMenu li{
    text-decoration: none;
}

.centerMenu li a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

.centerMenu li a:hover {
    color: #ffe1bb;
    text-decoration: 2px underline #ffae00;
    
}

#pesquisar {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #00c3ff;
}

/*------------------ DIV DOS FILMES ----------------------*/


#titulo{
margin-top: 50px;
    color: #fff;
        text-align: center;

}

.mainDiv {
    padding: 0 15px;
    max-width: 90vw;
    margin: 50px auto;
}

.films {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 30px;

 }

.film-card {
    width: 200px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 15px;
    border-radius: 6px;
}


.film-card:hover{
    filter: drop-shadow(0 0 10px #FFF);
    transition: 0.5s;
}

.film-card__img {
    width: 200px;
    margin-bottom: 15px;
    border-radius: 6px;
}

.film-card__title {
    padding: 0 5px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}

.film-card__year {
    margin-bottom: 5px;
    color: rgb(5, 144, 243);
    font-size: 14px;
}

.film-card__rate {
    color: rgb(145, 142, 0);
    font-size: 14px;
}

.film-card__description {
    color: rgb(3, 3, 3);
    padding: 0 5px 10px ;
    font-size: 14px;
}

.film-card__genre {
    color: rgb(170, 170, 170);
    padding: 0 5px 10px ;
    font-size: 14px;
}
.show-more {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;

    border-radius: 6px;
    background-color: rgb(16, 85, 205);
    color: #fff;
    transition: opacity 0.2s ease-in;
}

.show-more:hover {
    opacity: 0.8;
}

/* CSS loader */

.loader-wrapper {
    width: 100%;
    padding: 100px 0;
    text-align: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid rgb(43, 146, 255);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}



/********************** TELA DO FILME **************************/
#iframe{
    width: 90vw;
    height: 80vh;
    border: 1px solid white;
}

#divTela{
    display: flex;
    align-items: center;
    justify-content: space-around;


}